.box{
    background-color: rgb(204, 194, 150);
    width: 500px;
   height: 500px;
  border-radius: 20px;
 margin: auto;
  }

  .inputData{
    margin-top: 15px;
  }
  .inputField{
 margin-top: 50px;
 height: 40px;
 width: 250px;
 border-color: burlywood;
 border-radius: 5px;
 font-family: 'Times New Roman', Times, serif;
  }
  